<br><br><br><br><br>
<hr>
<h1>To Do List App</h1>
<br>
<h3>Organize your life with a digital to-do list for the 21st century</h3>
<h4>Cutting edge tech, easy to use</h4>
<h3>Yep</h3>
<%= render 'layouts/navbar' %>
<%= yield %>
<hr>
